* {
    background-color: rgb(0, 37.5, 37.5);
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
    font-family: "Ubuntu", sans-serif;
    color: white;
}

.icon-bar {
    width: 50%;
    height: 40px;
    position: fixed;
    display: flex;
    top: 94.5%;
    left: 25%;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.icon-bar-image {
    background-color: white;
    height: 32px;
}

button {
    background: linear-gradient(to right,blue, lightgreen);
    border-radius: 20px;
    border: none;
    width: 100px;
    height: 25px;
    transition-property: height;
    transition-duration: 200ms;
    cursor: pointer;
}

button:hover {
    height: 20px;
}

/* Styling for logo */
nav > a {
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

nav > a > img {
    height: 75px;
    padding-right: 50px;
}


/* Styling for main info */

.main-info-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 30px;
}


.main-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.main-info > h1 {
    background: linear-gradient(to right, blue, lightgreen);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    font-size: 75px;
    opacity: 0.8;
}

.extra-definitions {
    font-size: large;
    opacity: 0.8;
}

.detail-icon {
    padding-right: 20px;
    padding-bottom: 20px;
}

.info-tidbits {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}
.extra-info {
    font-family: "Open Sans", sans-serif;
}

.small-info {
    width: 250px;
    margin-right: 50px;
    text-align: center;
}